<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.dao.AaaMapper" >
  <resultMap id="BaseResultMap" type="com.hospital.entity.Aaa" >
    <result column="YEARMONTH(YEARMONTH)" property="yearmonthyearmonth" jdbcType="NVARCHAR" />
    <result column="卫计委机构(WJWID)" property="卫计委机构wjwid" jdbcType="NVARCHAR" />
    <result column="医疗卫生机构(YLJGID)" property="医疗卫生机构yljgid" jdbcType="NVARCHAR" />
    <result column="医疗付款方式(YLFKFS)" property="医疗付款方式ylfkfs" jdbcType="NVARCHAR" />
    <result column="健康卡号(JKKH)" property="健康卡号jkkh" jdbcType="NVARCHAR" />
    <result column="住院次数(ZYCS)" property="住院次数zycs" jdbcType="NVARCHAR" />
    <result column="病案号(BAH)" property="病案号bah" jdbcType="NVARCHAR" />
    <result column="姓名(XM)" property="姓名xm" jdbcType="NVARCHAR" />
    <result column="性别(XB)" property="性别xb" jdbcType="NVARCHAR" />
    <result column="出生日期(CSRQ)" property="出生日期csrq" jdbcType="NVARCHAR" />
    <result column="年龄(NL)" property="年龄nl" jdbcType="NVARCHAR" />
    <result column="国籍(GJ)" property="国籍gj" jdbcType="NVARCHAR" />
    <result column="年龄不足1周岁的年龄月(BZYZSNL)" property="年龄不足1周岁的年龄月bzyzsnl" jdbcType="NVARCHAR" />
    <result column="不足1周岁的年龄日(BZYZSNLR)" property="不足1周岁的年龄日bzyzsnlr" jdbcType="NVARCHAR" />
    <result column="新生儿出生体重克(XSECSTZ)" property="新生儿出生体重克xsecstz" jdbcType="NVARCHAR" />
    <result column="新生儿入院体重克(XSERYTZ)" property="新生儿入院体重克xserytz" jdbcType="NVARCHAR" />
    <result column="出生地(CSD)" property="出生地csd" jdbcType="NVARCHAR" />
    <result column="籍贯(GG)" property="籍贯gg" jdbcType="NVARCHAR" />
    <result column="民族(MZ)" property="民族mz" jdbcType="NVARCHAR" />
    <result column="身份证号(SFZH)" property="身份证号sfzh" jdbcType="NVARCHAR" />
    <result column="职业(ZY)" property="职业zy" jdbcType="NVARCHAR" />
    <result column="婚姻(HY)" property="婚姻hy" jdbcType="NVARCHAR" />
    <result column="现住址(XZZ_XZQH)" property="现住址xzzXzqh" jdbcType="NVARCHAR" />
    <result column="现住址(XZZ)" property="现住址xzz" jdbcType="NVARCHAR" />
    <result column="电话(DH)" property="电话dh" jdbcType="NVARCHAR" />
    <result column="邮编(YB1)" property="邮编yb1" jdbcType="NVARCHAR" />
    <result column="户口地址住院次数出生日期新生儿入院体重克职业(HKDZ_XZQH)" property="户口地址住院次数出生日期新生儿入院体重克职业hkdzXzqh" jdbcType="NVARCHAR" />
    <result column="户口地址(HKDZ)" property="户口地址hkdz" jdbcType="NVARCHAR" />
    <result column="邮编(YB2)" property="邮编yb2" jdbcType="NVARCHAR" />
    <result column="工作单位及地址(DWDZ_XZQH)" property="工作单位及地址dwdzXzqh" jdbcType="NVARCHAR" />
    <result column="工作单位及地址(GZDWJDZ)" property="工作单位及地址gzdwjdz" jdbcType="NVARCHAR" />
    <result column="单位电话(DWDH)" property="单位电话dwdh" jdbcType="NVARCHAR" />
    <result column="邮编(YB3)" property="邮编yb3" jdbcType="NVARCHAR" />
    <result column="联系人姓名(LXRXM)" property="联系人姓名lxrxm" jdbcType="NVARCHAR" />
    <result column="关系(GX)" property="关系gx" jdbcType="NVARCHAR" />
    <result column="地址(DZ_XZQH)" property="地址dzXzqh" jdbcType="NVARCHAR" />
    <result column="地址(DZ)" property="地址dz" jdbcType="NVARCHAR" />
    <result column="电话(DH2)" property="电话dh2" jdbcType="NVARCHAR" />
    <result column="入院途径(RYTJ)" property="入院途径rytj" jdbcType="NVARCHAR" />
    <result column="其他医疗机构转入名称(QTJGZR)" property="其他医疗机构转入名称qtjgzr" jdbcType="NVARCHAR" />
    <result column="入院时间(RYSJ)" property="入院时间rysj" jdbcType="NVARCHAR" />
    <result column="时(RYSJS)" property="时rysjs" jdbcType="NVARCHAR" />
    <result column="分(RYSJF)" property="分rysjf" jdbcType="NVARCHAR" />
    <result column="入院科别(RYKB)" property="入院科别rykb" jdbcType="NVARCHAR" />
    <result column="入院病房(RYBF)" property="入院病房rybf" jdbcType="NVARCHAR" />
    <result column="转科科别(ZKKB)" property="转科科别zkkb" jdbcType="NVARCHAR" />
    <result column="出院时间(CYSJ)" property="出院时间cysj" jdbcType="NVARCHAR" />
    <result column="时(CYSJS)" property="时cysjs" jdbcType="NVARCHAR" />
    <result column="分(CYSJF)" property="分cysjf" jdbcType="NVARCHAR" />
    <result column="出院科别(CYKB)" property="出院科别cykb" jdbcType="NVARCHAR" />
    <result column="出院病房(CYBF)" property="出院病房cybf" jdbcType="NVARCHAR" />
    <result column="实际住院天(SJZYTS)" property="实际住院天sjzyts" jdbcType="NVARCHAR" />
    <result column="门急诊诊断(MZZD)" property="门急诊诊断mzzd" jdbcType="NVARCHAR" />
    <result column="疾病编码(JBBM)" property="疾病编码jbbm" jdbcType="NVARCHAR" />
    <result column="入院诊断(RYZD)" property="入院诊断ryzd" jdbcType="NVARCHAR" />
    <result column="疾病编码(JBBM1)" property="疾病编码jbbm1" jdbcType="NVARCHAR" />
    <result column="住院期间是否告病危或病重(BWHBZ)" property="住院期间是否告病危或病重bwhbz" jdbcType="NVARCHAR" />
    <result column="出院诊断(ZYZD)" property="出院诊断zyzd" jdbcType="NVARCHAR" />
    <result column="疾病编码(JBDM)" property="疾病编码jbdm" jdbcType="NVARCHAR" />
    <result column="入院病情(RYBQ)" property="入院病情rybq" jdbcType="NVARCHAR" />
    <result column="出院诊断8(QTZD8)" property="出院诊断8qtzd8" jdbcType="NVARCHAR" />
    <result column="疾病编码8(JBDM8)" property="疾病编码8jbdm8" jdbcType="NVARCHAR" />
    <result column="入院病情8(RYBQ8)" property="入院病情8rybq8" jdbcType="NVARCHAR" />
    <result column="出院诊断1(QTZD1)" property="出院诊断1qtzd1" jdbcType="NVARCHAR" />
    <result column="疾病编码1(JBDM1)" property="疾病编码1jbdm1" jdbcType="NVARCHAR" />
    <result column="入院病情1(RYBQ1)" property="入院病情1rybq1" jdbcType="NVARCHAR" />
    <result column="出院诊断9(QTZD9)" property="出院诊断9qtzd9" jdbcType="NVARCHAR" />
    <result column="疾病编码9(JBDM9)" property="疾病编码9jbdm9" jdbcType="NVARCHAR" />
    <result column="入院病情9(RYBQ9)" property="入院病情9rybq9" jdbcType="NVARCHAR" />
    <result column="出院诊断2(QTZD2)" property="出院诊断2qtzd2" jdbcType="NVARCHAR" />
    <result column="疾病编码2(JBDM2)" property="疾病编码2jbdm2" jdbcType="NVARCHAR" />
    <result column="入院病情2(RYBQ2)" property="入院病情2rybq2" jdbcType="NVARCHAR" />
    <result column="出院诊断10(QTZD10)" property="出院诊断10qtzd10" jdbcType="NVARCHAR" />
    <result column="疾病编码10(JBDM10)" property="疾病编码10jbdm10" jdbcType="NVARCHAR" />
    <result column="入院病情10(RYBQ10)" property="入院病情10rybq10" jdbcType="NVARCHAR" />
    <result column="出院诊断3(QTZD3)" property="出院诊断3qtzd3" jdbcType="NVARCHAR" />
    <result column="疾病编码3(JBDM3)" property="疾病编码3jbdm3" jdbcType="NVARCHAR" />
    <result column="入院病情3(RYBQ3)" property="入院病情3rybq3" jdbcType="NVARCHAR" />
    <result column="出院诊断11(QTZD11)" property="出院诊断11qtzd11" jdbcType="NVARCHAR" />
    <result column="疾病编码11(JBDM11)" property="疾病编码11jbdm11" jdbcType="NVARCHAR" />
    <result column="入院病情11(RYBQ11)" property="入院病情11rybq11" jdbcType="NVARCHAR" />
    <result column="出院诊断4(QTZD4)" property="出院诊断4qtzd4" jdbcType="NVARCHAR" />
    <result column="疾病编码4(JBDM4)" property="疾病编码4jbdm4" jdbcType="NVARCHAR" />
    <result column="入院病情4(RYBQ4)" property="入院病情4rybq4" jdbcType="NVARCHAR" />
    <result column="出院诊断12(QTZD12)" property="出院诊断12qtzd12" jdbcType="NVARCHAR" />
    <result column="疾病编码12(JBDM12)" property="疾病编码12jbdm12" jdbcType="NVARCHAR" />
    <result column="入院病情12(RYBQ12)" property="入院病情12rybq12" jdbcType="NVARCHAR" />
    <result column="出院诊断5(QTZD5)" property="出院诊断5qtzd5" jdbcType="NVARCHAR" />
    <result column="疾病编码5(JBDM5)" property="疾病编码5jbdm5" jdbcType="NVARCHAR" />
    <result column="入院病情5(RYBQ5)" property="入院病情5rybq5" jdbcType="NVARCHAR" />
    <result column="出院诊断13(QTZD13)" property="出院诊断13qtzd13" jdbcType="NVARCHAR" />
    <result column="疾病编码13(JBDM13)" property="疾病编码13jbdm13" jdbcType="NVARCHAR" />
    <result column="入院病情13(RYBQ13)" property="入院病情13rybq13" jdbcType="NVARCHAR" />
    <result column="出院诊断6(QTZD6)" property="出院诊断6qtzd6" jdbcType="NVARCHAR" />
    <result column="疾病编码6(JBDM6)" property="疾病编码6jbdm6" jdbcType="NVARCHAR" />
    <result column="入院病情6(RYBQ6)" property="入院病情6rybq6" jdbcType="NVARCHAR" />
    <result column="出院诊断14(QTZD14)" property="出院诊断14qtzd14" jdbcType="NVARCHAR" />
    <result column="疾病编码14(JBDM14)" property="疾病编码14jbdm14" jdbcType="NVARCHAR" />
    <result column="入院病情14(RYBQ14)" property="入院病情14rybq14" jdbcType="NVARCHAR" />
    <result column="出院诊断7(QTZD7)" property="出院诊断7qtzd7" jdbcType="NVARCHAR" />
    <result column="疾病编码7(JBDM7)" property="疾病编码7jbdm7" jdbcType="NVARCHAR" />
    <result column="入院病情7(RYBQ7)" property="入院病情7rybq7" jdbcType="NVARCHAR" />
    <result column="出院诊断15(QTZD15)" property="出院诊断15qtzd15" jdbcType="NVARCHAR" />
    <result column="疾病编码15(JBDM15)" property="疾病编码15jbdm15" jdbcType="NVARCHAR" />
    <result column="入院病情15(RYBQ15)" property="入院病情15rybq15" jdbcType="NVARCHAR" />
    <result column="损伤毒的外部原因(WBYY)" property="损伤毒的外部原因wbyy" jdbcType="NVARCHAR" />
    <result column="疾病编码(H23)" property="疾病编码h23" jdbcType="NVARCHAR" />
    <result column="病理诊断(BLZD)" property="病理诊断blzd" jdbcType="NVARCHAR" />
    <result column="疾病编码(JBMM)" property="疾病编码jbmm" jdbcType="NVARCHAR" />
    <result column="病理号(BLH)" property="病理号blh" jdbcType="NVARCHAR" />
    <result column="9药物过敏(YWGM)" property="药物过敏ywgm" jdbcType="NVARCHAR" />
    <result column="过敏药物出院情况(GMYW)" property="过敏药物出院情况gmyw" jdbcType="NVARCHAR" />
    <result column="死亡患者尸检(SWHZSJ)" property="死亡患者尸检swhzsj" jdbcType="NVARCHAR" />
    <result column="血型(XX)" property="血型xx" jdbcType="NVARCHAR" />
    <result column="Rh(RH)" property="rhrh" jdbcType="NVARCHAR" />
    <result column="红细胞(HXB)" property="红细胞hxb" jdbcType="NVARCHAR" />
    <result column="血小板(XXB)" property="血小板xxb" jdbcType="NVARCHAR" />
    <result column="血浆(XJ)" property="血浆xj" jdbcType="NVARCHAR" />
    <result column="全血(QX)" property="全血qx" jdbcType="NVARCHAR" />
    <result column="自体血回输(ZTXHS)" property="自体血回输ztxhs" jdbcType="NVARCHAR" />
    <result column="白蛋白(BDB)" property="白蛋白bdb" jdbcType="NVARCHAR" />
    <result column="冷沉淀(LCD)" property="冷沉淀lcd" jdbcType="NVARCHAR" />
    <result column="其他(QT)" property="其他qt" jdbcType="NVARCHAR" />
    <result column="输血反应(SXFY)" property="输血反应sxfy" jdbcType="NVARCHAR" />
    <result column="随诊(SZ)" property="随诊sz" jdbcType="NVARCHAR" />
    <result column="随诊期限(SZQXZ)" property="随诊期限szqxz" jdbcType="NVARCHAR" />
    <result column="周(SZQXY)" property="周szqxy" jdbcType="NVARCHAR" />
    <result column="月(SZQXN)" property="月szqxn" jdbcType="NVARCHAR" />
    <result column="科主任出院情况(KZR)" property="科主任出院情况kzr" jdbcType="NVARCHAR" />
    <result column="主任副主任医师(ZRYS)" property="主任副主任医师zrys" jdbcType="NVARCHAR" />
    <result column="主诊医师(ZZNYS)" property="主诊医师zznys" jdbcType="NVARCHAR" />
    <result column="主治医师(ZZYS)" property="主治医师zzys" jdbcType="NVARCHAR" />
    <result column="住院医师(ZYYS)" property="住院医师zyys" jdbcType="NVARCHAR" />
    <result column="责任护士出院情况(ZRHS)" property="责任护士出院情况zrhs" jdbcType="NVARCHAR" />
    <result column="进修医师(JXYS)" property="进修医师jxys" jdbcType="NVARCHAR" />
    <result column="实习医师(SXYS)" property="实习医师sxys" jdbcType="NVARCHAR" />
    <result column="编码员(BMY)" property="编码员bmy" jdbcType="NVARCHAR" />
    <result column="病案质量出院情况(BAZL)" property="病案质量出院情况bazl" jdbcType="NVARCHAR" />
    <result column="质控医师(ZKYS)" property="质控医师zkys" jdbcType="NVARCHAR" />
    <result column="质控护士(ZKHS)" property="质控护士zkhs" jdbcType="NVARCHAR" />
    <result column="质控日期(ZKRQ)" property="质控日期zkrq" jdbcType="NVARCHAR" />
    <result column="是否急诊手术(SF1)" property="是否急诊手术sf1" jdbcType="NVARCHAR" />
    <result column="手术及操作编码手术1(SSJCZBM1)" property="手术及操作编码手术1ssjczbm1" jdbcType="NVARCHAR" />
    <result column="手术及操作日期1(SSJCZRQ1)" property="手术及操作日期1ssjczrq1" jdbcType="NVARCHAR" />
    <result column="手术级别1(SSJB1)" property="手术级别1ssjb1" jdbcType="NVARCHAR" />
    <result column="手术及操作名称1(SSJCZMC1)" property="手术及操作名称1ssjczmc1" jdbcType="NVARCHAR" />
    <result column="术者1(SZ1)" property="术者1sz1" jdbcType="NVARCHAR" />
    <result column="I助手1(YZ1)" property="i助手1yz1" jdbcType="NVARCHAR" />
    <result column="II助手1(EZ1)" property="ii助手1ez1" jdbcType="NVARCHAR" />
    <result column="切口级别1(QKDJ1)" property="切口级别1qkdj1" jdbcType="NVARCHAR" />
    <result column="切口愈合等次1(QKYHLB1)" property="切口愈合等次1qkyhlb1" jdbcType="NVARCHAR" />
    <result column="麻醉方式1(MZFS1)" property="麻醉方式1mzfs1" jdbcType="NVARCHAR" />
    <result column="麻醉医师1(MZYS1)" property="麻醉医师1mzys1" jdbcType="NVARCHAR" />
    <result column="是否急诊手术(SF2)" property="是否急诊手术sf2" jdbcType="NVARCHAR" />
    <result column="手术及操作编码手术2(SSJCZBM2)" property="手术及操作编码手术2ssjczbm2" jdbcType="NVARCHAR" />
    <result column="手术及操作日期2(SSJCZRQ2)" property="手术及操作日期2ssjczrq2" jdbcType="NVARCHAR" />
    <result column="手术级别2(SSJB2)" property="手术级别2ssjb2" jdbcType="NVARCHAR" />
    <result column="手术及操作名称2(SSJCZMC2)" property="手术及操作名称2ssjczmc2" jdbcType="NVARCHAR" />
    <result column="术者2(SZ2)" property="术者2sz2" jdbcType="NVARCHAR" />
    <result column="I助手2(YZ2)" property="i助手2yz2" jdbcType="NVARCHAR" />
    <result column="II助手2(EZ2)" property="ii助手2ez2" jdbcType="NVARCHAR" />
    <result column="切口级别2(QKDJ2)" property="切口级别2qkdj2" jdbcType="NVARCHAR" />
    <result column="切口愈合等次2(QKYHLB2)" property="切口愈合等次2qkyhlb2" jdbcType="NVARCHAR" />
    <result column="麻醉方式2(MZFS2)" property="麻醉方式2mzfs2" jdbcType="NVARCHAR" />
    <result column="麻醉医师2(MZYS2)" property="麻醉医师2mzys2" jdbcType="NVARCHAR" />
    <result column="是否急诊手术(SF3)" property="是否急诊手术sf3" jdbcType="NVARCHAR" />
    <result column="手术及操作编码手术3(SSJCZBM3)" property="手术及操作编码手术3ssjczbm3" jdbcType="NVARCHAR" />
    <result column="手术及操作日期3(SSJCZRQ3)" property="手术及操作日期3ssjczrq3" jdbcType="NVARCHAR" />
    <result column="手术级别3(SSJB3)" property="手术级别3ssjb3" jdbcType="NVARCHAR" />
    <result column="手术及操作名称3(SSJCZMC3)" property="手术及操作名称3ssjczmc3" jdbcType="NVARCHAR" />
    <result column="术者3(SZ3)" property="术者3sz3" jdbcType="NVARCHAR" />
    <result column="I助手3(YZ3)" property="i助手3yz3" jdbcType="NVARCHAR" />
    <result column="II助手3(EZ3)" property="ii助手3ez3" jdbcType="NVARCHAR" />
    <result column="切口级别3(QKDJ3)" property="切口级别3qkdj3" jdbcType="NVARCHAR" />
    <result column="切口愈合等次3(QKYHLB3)" property="切口愈合等次3qkyhlb3" jdbcType="NVARCHAR" />
    <result column="麻醉方式3(MZFS3)" property="麻醉方式3mzfs3" jdbcType="NVARCHAR" />
    <result column="麻醉医师3(MZYS3)" property="麻醉医师3mzys3" jdbcType="NVARCHAR" />
    <result column="是否急诊手术(SF4)" property="是否急诊手术sf4" jdbcType="NVARCHAR" />
    <result column="手术及操作编码手术4(SSJCZBM4)" property="手术及操作编码手术4ssjczbm4" jdbcType="NVARCHAR" />
    <result column="手术及操作日期4(SSJCZRQ4)" property="手术及操作日期4ssjczrq4" jdbcType="NVARCHAR" />
    <result column="手术级别4(SSJB4)" property="手术级别4ssjb4" jdbcType="NVARCHAR" />
    <result column="手术及操作名称4(SSJCZMC4)" property="手术及操作名称4ssjczmc4" jdbcType="NVARCHAR" />
    <result column="术者4(SZ4)" property="术者4sz4" jdbcType="NVARCHAR" />
    <result column="I助手4(YZ4)" property="i助手4yz4" jdbcType="NVARCHAR" />
    <result column="II助手4(EZ4)" property="ii助手4ez4" jdbcType="NVARCHAR" />
    <result column="切口级别4(QKDJ4)" property="切口级别4qkdj4" jdbcType="NVARCHAR" />
    <result column="切口愈合等次4(QKYHLB4)" property="切口愈合等次4qkyhlb4" jdbcType="NVARCHAR" />
    <result column="麻醉方式4(MZFS4)" property="麻醉方式4mzfs4" jdbcType="NVARCHAR" />
    <result column="麻醉医师4(MZYS4)" property="麻醉医师4mzys4" jdbcType="NVARCHAR" />
    <result column="是否急诊手术(SF5)" property="是否急诊手术sf5" jdbcType="NVARCHAR" />
    <result column="手术及操作编码手术5(SSJCZBM5)" property="手术及操作编码手术5ssjczbm5" jdbcType="NVARCHAR" />
    <result column="手术及操作日期5(SSJCZRQ5)" property="手术及操作日期5ssjczrq5" jdbcType="NVARCHAR" />
    <result column="手术级别5(SSJB5)" property="手术级别5ssjb5" jdbcType="NVARCHAR" />
    <result column="手术及操作名称5(SSJCZMC5)" property="手术及操作名称5ssjczmc5" jdbcType="NVARCHAR" />
    <result column="术者5(SZ5)" property="术者5sz5" jdbcType="NVARCHAR" />
    <result column="I助手5(YZ5)" property="i助手5yz5" jdbcType="NVARCHAR" />
    <result column="II助手5(EZ5)" property="ii助手5ez5" jdbcType="NVARCHAR" />
    <result column="切口级别5(QKDJ5)" property="切口级别5qkdj5" jdbcType="NVARCHAR" />
    <result column="切口愈合等次5(QKYHLB5)" property="切口愈合等次5qkyhlb5" jdbcType="NVARCHAR" />
    <result column="麻醉方式5(MZFS5)" property="麻醉方式5mzfs5" jdbcType="NVARCHAR" />
    <result column="麻醉医师5(MZYS5)" property="麻醉医师5mzys5" jdbcType="NVARCHAR" />
    <result column="是否急诊手术(SF6)" property="是否急诊手术sf6" jdbcType="NVARCHAR" />
    <result column="手术及操作编码手术6(SSJCZBM6)" property="手术及操作编码手术6ssjczbm6" jdbcType="NVARCHAR" />
    <result column="手术及操作日期6(SSJCZRQ6)" property="手术及操作日期6ssjczrq6" jdbcType="NVARCHAR" />
    <result column="手术级别6(SSJB6)" property="手术级别6ssjb6" jdbcType="NVARCHAR" />
    <result column="手术及操作名称6(SSJCZMC6)" property="手术及操作名称6ssjczmc6" jdbcType="NVARCHAR" />
    <result column="术者6(SZ6)" property="术者6sz6" jdbcType="NVARCHAR" />
    <result column="I助手6(YZ6)" property="i助手6yz6" jdbcType="NVARCHAR" />
    <result column="II助手6(EZ6)" property="ii助手6ez6" jdbcType="NVARCHAR" />
    <result column="切口级别6(QKDJ6)" property="切口级别6qkdj6" jdbcType="NVARCHAR" />
    <result column="切口愈合等次6(QKYHLB6)" property="切口愈合等次6qkyhlb6" jdbcType="NVARCHAR" />
    <result column="麻醉方式6(MZFS6)" property="麻醉方式6mzfs6" jdbcType="NVARCHAR" />
    <result column="麻醉医师6(MZYS6)" property="麻醉医师6mzys6" jdbcType="NVARCHAR" />
    <result column="是否急诊手术(SF7)" property="是否急诊手术sf7" jdbcType="NVARCHAR" />
    <result column="手术及操作编码手术7(SSJCZBM7)" property="手术及操作编码手术7ssjczbm7" jdbcType="NVARCHAR" />
    <result column="手术及操作日期7(SSJCZRQ7)" property="手术及操作日期7ssjczrq7" jdbcType="NVARCHAR" />
    <result column="手术级别7(SSJB7)" property="手术级别7ssjb7" jdbcType="NVARCHAR" />
    <result column="手术及操作名称7(SSJCZMC7)" property="手术及操作名称7ssjczmc7" jdbcType="NVARCHAR" />
    <result column="术者7(SZ7)" property="术者7sz7" jdbcType="NVARCHAR" />
    <result column="I助手7(YZ7)" property="i助手7yz7" jdbcType="NVARCHAR" />
    <result column="II助手7(EZ7)" property="ii助手7ez7" jdbcType="NVARCHAR" />
    <result column="切口级别7(QKDJ7)" property="切口级别7qkdj7" jdbcType="NVARCHAR" />
    <result column="切口愈合等次7(QKYHLB7)" property="切口愈合等次7qkyhlb7" jdbcType="NVARCHAR" />
    <result column="麻醉方式7(MZFS7)" property="麻醉方式7mzfs7" jdbcType="NVARCHAR" />
    <result column="麻醉医师7(MZYS7)" property="麻醉医师7mzys7" jdbcType="NVARCHAR" />
    <result column="是否实施临床路径管理(LCLJGL)" property="是否实施临床路径管理lcljgl" jdbcType="NVARCHAR" />
    <result column="是否完成临床路径_(WCLCLJ)" property="是否完成临床路径wclclj" jdbcType="NVARCHAR" />
    <result column="退出原因(TCYY)" property="退出原因tcyy" jdbcType="NVARCHAR" />
    <result column="是否变异(SFBY)" property="是否变异sfby" jdbcType="NVARCHAR" />
    <result column="变异原因(BYYY)" property="变异原因byyy" jdbcType="NVARCHAR" />
    <result column="离院方式(LYFS)" property="离院方式lyfs" jdbcType="NVARCHAR" />
    <result column="医嘱转院拟接收医疗机构名称(YZZY_YLJG)" property="医嘱转院拟接收医疗机构名称yzzyYljg" jdbcType="NVARCHAR" />
    <result column="医嘱转社区卫生服务机构/乡镇卫生院拟接收医疗机构名称(WSY_YLJG)" property="医嘱转社区卫生服务机构乡镇卫生院拟接收医疗机构名称wsyYljg" jdbcType="NVARCHAR" />
    <result column="CT(CT)" property="ctct" jdbcType="NVARCHAR" />
    <result column="PETCT(PETCT)" property="petctpetct" jdbcType="NVARCHAR" />
    <result column="双源CT(SYCT)" property="双源ctsyct" jdbcType="NVARCHAR" />
    <result column="B超(BC)" property="b超bc" jdbcType="NVARCHAR" />
    <result column="X片(XP)" property="x片xp" jdbcType="NVARCHAR" />
    <result column="超生心电图(CSXDT)" property="超生心电图csxdt" jdbcType="NVARCHAR" />
    <result column="MRI(MRI)" property="mrimri" jdbcType="NVARCHAR" />
    <result column="同位素检查(TWSJC)"                     property="同位素检查twsjc" jdbcType="NVARCHAR" />
    <result column="是否有出院31天内再住院计划(SFZZYJH)"      property="是否有出院31天内再住院计划sfzzyjh" jdbcType="NVARCHAR" />
    <result column="目的(MD)"                             property="目的md" jdbcType="NVARCHAR" />
    <result column="颅脑损伤患者昏迷入院前时间：入院前(RYQ_T)"  property="颅脑损伤患者昏迷入院前时间入院前ryqT" jdbcType="NVARCHAR" />
    <result column="小时(RYQ_XS)"                          property="小时ryqXs" jdbcType="NVARCHAR" />
    <result column="分钟(RYQ_F)"                           property="分钟ryqF" jdbcType="NVARCHAR" />
    <result column="颅脑损伤患者昏迷入院后时间：入院后(RYH_T)"    property="颅脑损伤患者昏迷入院后时间入院后ryhT" jdbcType="NVARCHAR" />
    <result column="小时1(RYH_XS)"                         property="小时1ryhXs" jdbcType="NVARCHAR" />
    <result column="分钟1(RYH_F)"                           property="分钟1ryhF" jdbcType="NVARCHAR" />
    <result column="总费用(ZFY)"                           property="总费用zfy" jdbcType="NVARCHAR" />
    <result column="自付金额(ZFJE)"                         property="自付金额zfje" jdbcType="NVARCHAR" />
    <result column="其他支付(QTZF)"                          property="其他支付qtzf" jdbcType="NVARCHAR" />
    <result column="一般医疗服务费(YLFUF)"                   property="一般医疗服务费ylfuf" jdbcType="NVARCHAR" />
    <result column="一般治疗操作费(ZLCZF)"                   property="一般治疗操作费zlczf" jdbcType="NVARCHAR" />
    <result column="护理费(HLF)"                           property="护理费hlf" jdbcType="NVARCHAR" />
    <result column="其他费用(QTFY)"                         property="其他费用qtfy" jdbcType="NVARCHAR" />
  </resultMap>
  <select id="getAll"  resultMap="BaseResultMap" >
    select * from aaa
  </select>
</mapper>